<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <!-- step 4 add a div tag with ng-view -->
  <body ng-cloak class="card-panel brown lighten-4">
    <!-- sample angular code -->
    <div class="col s12" ng-controller="StockController as stockCtrl">
        <div class="row col s12"><div class="col s1"></div>
          <div class="col s3 input-field" >
            <select class="browser-default"  ng-model="data" ng-options="item for item in ctgy.categoriesArray" ng-selected="ctgy.getItem(data)"> {{item}} </select>
          </div>
          <div class="col s1"></div>
          <div class="col s2 brown-text text-lighten-1">
            <input type ng-model="$rootScope.searchBar" placeholder="Search By Name">
          </div>
          <div class="col s1"></div>
          <div class="col s3 input-field">
            <select class="browser-default" ng-model="selected">
              <option value="" disabled selected>Sort By Price </option>
              <option value="-price">high to low</option>
              <option value="+price">low to high</option>
            </select>
          </div>
        </div>
        <div class="row">
        <form class="col s12" name="orderForm">
          <div class="col s1"></div>
            <div class="row col s10" ng-controller="CartController as cartCtrl" >
              <div ng-repeat="item in stockCtrl.productsArray | filter: $rootScope.searchBar | orderBy: selected | orderBy: name">
                <div class="card small z-depth-3">
                  <div class="row col s12">
                    <div class="col s4">
                      <img class="drinkPic" ng-src="{{item.imageUrl}}" height="200" width="200">
                    </div>
                    <div class="col s8">
                      <h5> {{ item.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.price | currency}}</h5>
                      <p ng-if=" item.inStock  "> In Stock? Yes </p>
                      <p ng-if=" !item.inStock "> In Stock? No </p>
                      <p> Rating: {{ item.rating }} </p>
                      <p> Caffeine: {{ item.caffeineScale}} mg</p>
                      <p> Ingredients: {{ item.ingredients }} </p>
                      <table>
                        <tr> Category:
                          <td ng-repeat="ctg in item.categories">  {{ ctg }} </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row col s12">
                    <div class="col s4"></div>
                    <div clas="col s4">
                      <select class="browser-default col s4 itemNumber" ng-model="data" name="quantity" type="number">
                        <option value="" disabled selected>Choose Your Quanity</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                    <div class="col s4">
                      <button type="submit" ng-click="cartCtrl.addToOrder({coffee: item, quantity: data})"><a class="waves-effect waves-light btn  brown lighten-3"><i class="material-icons  right">local_drink</i>Add To Order</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="col s1"></div>
        </form>
        </div>
      </div>
    </div>
    <!-- scripts -->
  </body>
</html>
