<div class="row col s12">

    <div class="row col s12">
      <h4>My Shopping Bag</h4><h4>Order Total: </h4>
      <!-- <p>{{cart}}</p> -->
    </div>

    <div clas="row col s10">
      <table class="striped">
      <tbody>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Caffeine Scale</th>
          <th>Ingredients</th>
          <th>Caffeine Scale</th>
          <th>Quanity</th>
          <th>Subtotal</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="cart in cartCtgy.order">
          <td><img src="{{cart.cartImageUrl}}" height="42" width="42"></td>
          <td>{{cart.cartName}}</td>
          <td>{{cart.cartCaffeineScale}}</td>
          <td>{{cart.cartIngredients}}</td>
          <td>{{cart.cartCaffeineScale}}</td>
          <td>{{cart.cartQuantity}}</td>
          <td>{{cart.cartSubtotal | currency}}</td>
          <td><button>Edit Order</button></td>
          <td><button>Remove Order</button></td>
        </tr>
      </tbody>
      </table>
    </div>
</div>
